<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<form method="POST" th:action="@{/people}" th:object="${person}">

    <div class="form-group">
    <div class="bg-danger"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <label  for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    </div>

    <div class="form-group">
    <div class="bg-danger" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">birth year error</div>
    <label for="birthYear">Birth year</label>
    <input type="number" th:field="*{birthYear}" id="birthYear">
    </div>

    <input type="submit" class="btn btn-primary" value="Create">
</form>
</div>
</body>
</html>