
<body>
<div th:replace="~{header :: header('Books')}"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h5>Book name, author name, year of publication</h5>
        </div>
        <div class="col-sm-4">
            <a href="books/new">Add new book</a>
        </div>
    </div>

    <div class="row" th:each="book : ${books}">
        <div class="col-sm-5">
            <a th:href="@{books/{id}(id=${book.getId()})}" th:text="${book.getBookName()} + ', ' + ${book.getAuthorName()} + ', ' + ${book.getPublicationYear()}">Book name</a>
        </div>
        <div class="col-sm-1">
            <a th:href="@{books/edit/{id}(id=${book.getId()})}">Edit</a>
        </div>
        <div class="col-sm-6 ">
            <form th:method="DELETE" th:action="@{books/{id}(id=${book.getId()})}">
                <input class="btn btn-danger" type="submit" value="delete">
            </form>
        </div>
    </div>
</div>

</body>
