
<body>
<div th:replace="~{header :: header('Books')}"></div>

<div class="container">

    <div class="row">
        <div class="col-lg-2 bg-info">Book name</div>
        <div class="col-lg-10" th:text="${book.getBookName()}">Book name</div>
    </div>
    <div class="row">
        <div class="col-lg-2 bg-info">Author name</div>
        <div class="col-lg-10" th:text="${book.getAuthorName()}">Author name</div>
    </div>
    <div class="row">
        <div class="col-lg-2 bg-info">Publication year</div>
        <div class="col-lg-10" th:text="${book.getPublicationYear()}">Publication year</div>
    </div>

    <div th:switch="${book.getBookOwner()}">
        <div th:case="null">
            Book has no owner.

            <form th:method="PATCH" th:action="@{/books/{id}/updateOwner(id = ${book.getId()})}">

                <select th:field="${book.bookOwnerId}" class="form-select" aria-label="Default select example">
                    <option th:each="person : ${people}" th:text="${person.getName()}"  th:value="${person.getId()}" class="dropdown-item">Action</option>
                </select>
                <input type="submit" value="Assign the owner">
            </form>
        </div>

        <div class="row" th:case="*">
            <div class="col">
                Book owner: <span th:text="${book.getBookOwner().getName()}">Book owner name </span>
            </div>
            <div class="col">
                <form th:method="PATCH" th:action="@{/books/{id}/updateOwner(id=${book.getId()})}" th:object="${book}">
                    <input type="hidden" th:value="${null}" th:field="*{bookOwnerId}">
                    <input type="submit" value="Free book">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>