
<body>
<div th:replace="~{header :: header('Books')}"></div>

<div style="" class="container">

    <div class="row">
        <div>Book name: <em th:text="${book.getBookName()}">Book name></em></div>
    </div>
    <div class="row">
        <div>Author name: <em th:text="${book.getAuthorName()}">Author name></em></div>
    </div>
    <div class="row">
        <div>Publication year: <em th:text="${book.getPublicationYear()}">Publication year></em></div>
    </div>

    <div th:switch="${book.getOwner()}">
        <div th:case="null">
            Book has no owner.

            <form th:object="${owner}" th:method="PATCH" th:action="@{/books/{id}/updateOwner(id = ${book.getId()})}">

                <select th:field="${owner.id}" class="form-select" aria-label="Default select example">
                    <option th:each="person : ${people}" th:text="${person.getName()}"  th:value="${person.id}" class="dropdown-item">Action</option>
                </select>
                <input type="submit" value="Assign the owner">
            </form>
        </div>

        <div th:case="*">
            <div class="row">
                <div class="col-lg-12">Book owner: <em th:text="${book.getOwner().getName()}">Book owner name </em></div>
            </div>
            <div class="row">
                <form th:method="PATCH" th:action="@{/books/{id}/removeOwner(id=${book.getId()})}">
                    <input type="submit" value="Free book">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>